body { background-color: #EDE6DB;
  }

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  }

h1 {
  color: #417D7A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

h3 {
  color: #1D5C63;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

td {
  font-family: Arial, Helvetica, sans-serif;
}
tr {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
        color: #1D5C63;
        text-decoration: none;
        }
a:hover {
        color: #1D5C63;
        text-decoration: underline;
        }
a:visited {
        color: #1D5C63;
        text-decoration: none;
        }

table {
  border-width: 50px;
  }

.large-label {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  }

.link-class {
  color: #AB3F1B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  }
